{% extends 'template.html' %}

{% block body %}
<script src="{{ url_for('static', filename='bootstrap-5.2.0-beta1/dist/js/bootstrap.bundle.min.js') }}"></script>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="navbar-brand">
        <img src="{{ url_for('static', filename='icons/icon.png') }}" alt="" width="35" height="35">
      </a>
      

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Leader Board</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Servers</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ user_avatar }}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4 fw-normal text">Leaderboard 🏆</h1>
  <p class="lead fw-normal">Leaderboard and statistics. A leader board on a selected discord server.</p>

  <script>
    function detectChange(guild) {
      console.log(guild.value)
    }
  </script>

  <div class="dropdown">
    <form>
      <select class="form-select" onchange="detectChange(this)">
        <option selected value="0">Please select a server</option>
        {% for c in user_guils %}
          <option class="dropdown-item" value={{c.id}}>{{c.name}}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<div class="col-md-10 mx-auto">
  <table class="table">
    <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
  </table>
</div>
{% endblock %}