{% extends 'template.html' %}

{% block body %}
<header class="p-3 bg-dark text-white" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="navbar-brand">
        <img src="{{ url_for('static', filename='icons/Img_SPRAY_Santanadja_1504006.png') }}" alt="" width="35" height="35">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-3 text-white">Colóquios</a></li>
        <li><a href="http://localhost:5000/pessoas" class="nav-link px-3 text-secondary">Pessoas</a></li>
      </ul>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 text-end">
        <li></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="http://localhost:5000/logout" class="btn btn-outline-warning my-2 my-sm-0">Logout</a>
    </form>
    </div>

  </div>
</header>

<div class="col-md-5 p-lg-1 mx-auto my-5" >
  <h1 class="display-4 fw-normal text">Colóquios 🏆</h1>
  <p class="lead fw-normal">Uma lista de todos os colóquios. Por favor clique no colóquio para ser redirecionado</p>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
      <label class="form-label">Título do colóquio</label>
      {{ form.nome(class_="form-control", placeholder="Balões fama e desespero") }}
    </div>
    <div class="mb-3">
      <label class="form-label">Data</label>
      {{ form.date(class_="form-control") }}
    </div>
    <button type="submit" value="Go" class="btn btn-primary">Adicionar colóquio</button>
  </form>
</div>
<div class="col-md-10 mx-auto">
  <table class="table" id="Coloquios">
    <thead class="table-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Título do colóquio</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody >
        {% for row in dataTable %}
            <tr class='clickable-row' data-href='http://localhost:5000/coloquios/{{ row[0] }}'>
              {% for v in row %}
                  <td>{{v}}</td>
              {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.open($(this).data("href"), '_blank');
    });
  });
</script>

{% endblock %}