{% extends 'template.html' %}

{% block body %}
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="navbar-brand">
        <img src="{{ url_for('static', filename='icons/Img_SPRAY_Santanadja_1504006.png') }}" alt="" width="35" height="35">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="http://localhost:5000/" class="nav-link px-3 text-secondary">Colóquios</a></li>
        <li><a href="http://localhost:5000/pessoas" class="nav-link px-3 text-white">Pessoas</a></li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <a href="http://localhost:5000/logout" class="btn btn-outline-warning my-2 my-sm-0">Logout</a>
    </form>
    </div>
  </div>
</header>

<div class="col-md-5 p-lg-1 mx-auto my-5">
  <h1 class="display-4 fw-normal text">{{ x[1] }} 🤓</h1>
  <p class="lead fw-normal">Todas as informações da pessoa. Sinta-se a vonte para editalas 😳.</p>

  <form method="POST">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Nome Completo</label>
          {{ form.nome(class_="form-control", placeholder="Weliton Achado", value=x[1])}}
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Data de Aniversário</label>
          {{ form.dateNasc(class_="form-control", value=dataRaw[2])}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">CPF</label>
          {{ form.cpf(class_="form-control", placeholder="000.000.000-00", disabled=True) }}
        </div>
        {% if form.cpf.errors %}
        <ul class="errors">
          {% for error in form.cpf.errors %}
          <li class="warning">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Curso</label>
          {{ form.curso(class_="form-select") }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <button type="submit" name="submit_button" value="update" class="btn btn-primary">Editar pessoa</button>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <button type="submit" name="submit_button" value="delete" class="btn btn-danger">Excluir pessoa</button>
        </div>
      </div>
    </div>
  </form>

</div>

{% endblock %}

{% block scripts %}

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.open($(this).data("href"), '_blank');
        });
    });
</script>

{% endblock %}