<!DOCTYPE html>


<html>
    <head lang="pt">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/png">
        <link href="{{ url_for('static', filename='bootstrap-5.2.0-beta1/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <title>Coloquios</title>
  
    </head>
    <body>
      <script src="{{ url_for('static', filename='bootstrap-5.2.0-beta1/dist/js/bootstrap.bundle.min.js') }}"></script>
      
      {% block body %}{% endblock %}
    </body>

    {% block scripts %}{% endblock %}
</html>