{% extends 'base.html' %}

{% from 'macros/header.html' import header %}

{% block head %}
  {{ header() }}
  {{ super() }}
{% endblock %}

{% block body %}
  <div class="col-md-5 p-lg-1 mx-auto my-5">
    <h1 class="display-4 fw-normal text">{{ dataColoquio[0][1] }}</h1>
    <p class="lead fw-normal">Uma lista de todos os participantes do colóquio.</p>

    <form method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Nome Completo</label>
            {{ form.nome(class_="form-control", placeholder="Weliton Achado") }}
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Data de Aniversário</label>
            {{ form.dateNasc(class_="form-control") }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">CPF</label>
            {{ form.cpf(class_="form-control", placeholder="000.000.000-00") }}
          </div>

          {% if form.cpf.errors %}
            <ul class="errors">
              {% for error in form.cpf.errors %}
                <li class="warning">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Curso</label>
            {{ form.curso(class_="form-select") }}
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <button type="submit" value="Go" class="btn btn-primary">Adicionar participante</button>
    </form>


  </div>
  <div class="col-md-10 mx-auto">
    <table class="table" id="Coloquios">
      <thead class="table-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome Completo</th>
        <th scope="col">Data Nasc.</th>
        <th scope="col">CPF</th>
        <th scope="col">Curso</th>
      </tr>
      </thead>
      <tbody>
      {% for row in dataTable %}
        <tr>
          {% for v in row %}
            <td>{{ v }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}