<!DOCTYPE html>
<html lang="pt">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/png">
        
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}{% endblock %}Coloquios</title>
        {% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
      
      {% block scripts %}
          {{ bootstrap.load_js() }}
      {% endblock %}
    </body>
</html>