{% extends 'base.html' %}

{% block body %}
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">


          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <img src="{{ url_for('static', filename='icons/brute cp.png') }}" alt="" width="135">
              <div class="p-lg-2"></div>
              <form method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                  <label class="form-label">User</label>
                  {{ form.user(class_="form-control") }}
                </div>
                <div class="mb-3">
                  <label class="form-label">Senha</label>
                  {{ form.password(class_="form-control") }}
                </div>
                <button type="submit" value="Go" class="btn btn-primary">Logar</button>
              </form>
            </div>

          </div>

        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{{ url_for('static', filename='icons/BruteBanner.png') }}"
               alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
